spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.datasource.url=jdbc:mysql://localhost:3306/posts
spring.datasource.username=
spring.datasource.password=

minio.url=
minio.bucket=
minio.accessKey=
minio.secretKey=

spring.jpa.show-sql=true