@font-face {
    font-family: 'Fredoka';
    src: url('../fonts/fredokaone-regular-webfont.eot');
    src: url('../fonts/fredokaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fredokaone-regular-webfont.woff2') format('woff2'),
         url('../fonts/fredokaone-regular-webfont.ttf') format('truetype'),
         url('../fonts/fredokaone-regular-webfont.svg#fredoka_oneregular') format('svg');
}
