@font-face {
    font-family: 'Mitr';
    src: url('../fonts/mitr-bold-webfont.eot');
    src: url('../fonts/mitr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mitr-bold-webfont.woff2') format('woff2'),
         url('../fonts/mitr-bold-webfont.ttf') format('truetype'),
         url('../fonts/mitr-bold-webfont.svg#mitrbold') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'Mitr';
    src: url('../fonts/mitr-extralight-webfont.eot');
    src: url('../fonts/mitr-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mitr-extralight-webfont.woff2') format('woff2'),
         url('../fonts/mitr-extralight-webfont.ttf') format('truetype'),
         url('../fonts/mitr-extralight-webfont.svg#mitrextralight') format('svg');
    font-weight: 200;
}

@font-face {
    font-family: 'Mitr';
    src: url('../fonts/mitr-light-webfont.eot');
    src: url('../fonts/mitr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mitr-light-webfont.woff2') format('woff2'),
         url('../fonts/mitr-light-webfont.ttf') format('truetype'),
         url('../fonts/mitr-light-webfont.svg#mitrlight') format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'Mitr';
    src: url('../fonts/mitr-medium-webfont.eot');
    src: url('../fonts/mitr-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mitr-medium-webfont.woff2') format('woff2'),
         url('../fonts/mitr-medium-webfont.ttf') format('truetype'),
         url('../fonts/mitr-medium-webfont.svg#mitrmedium') format('svg');
    font-weight: 500;
}

@font-face {
    font-family: 'Mitr';
    src: url('../fonts/mitr-regular-webfont.eot');
    src: url('../fonts/mitr-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mitr-regular-webfont.woff2') format('woff2'),
         url('../fonts/mitr-regular-webfont.ttf') format('truetype'),
         url('../fonts/mitr-regular-webfont.svg#mitrregular') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Mitr';
    src: url('../fonts/mitr-semibold-webfont.eot');
    src: url('../fonts/mitr-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mitr-semibold-webfont.woff2') format('woff2'),
         url('../fonts/mitr-semibold-webfont.ttf') format('truetype'),
         url('../fonts/mitr-semibold-webfont.svg#mitrsemibold') format('svg');
    font-weight: 600;
}
